---
layout: default
title: Home
---

<main>
  <div class="pinned-and-latest-posts">
    <!-- large post - latest article - center -->
    {% assign post = site.posts[0] %}
    <a href="{{ post.url }}" class="article-link" style="grid-area: 1 / 2 / 3 / 3;">
      <article class="article-card large-article-size" style="text-align: center;">
        <img src="/assets/images/homepage.jpg" width="100px" height="auto"/>
        <h2>{{ post.title }}</h2>
        {{ post.excerpt }}
      </article>
    </a>
 
    <!-- two medium posts 2nd to 3rd latest articles - left -->
    {% for i in (1..2) %}
    {% assign post = site.posts[i] %}
    <a href="{{ post.url }}" class="article-link" style="grid-area: {{ i }} / 1 / {{ i | plus: 1 }} / 2;">
    <article class="article-card medium-article-size">
      <h2><img src="/assets/images/{{ post.category }}.jpg" width="5px" height="auto"/>{{ post.title }}</h2>
      {{ post.excerpt }}
    </article>
    </a>
    {% endfor %}

      <!-- small posts three more posts - right -->
      <div class="smaller-posts" style="grid-area: 1 / 3 / 3 / 4;">
      {% for i in (0..2) %}
      {% assign post = site.posts[i] %}
      <a href="{{ post.url }}" class="article-link">
      <article class="article-card small-article-size">
        <h2>{{ post.title }}</h2>
        <img src="/assets/images/{{ post.category }}.jpg" width="100px" height="auto"/>
        <!-- {{ post.excerpt }} -->
      </article>
      </a>
      {% endfor %}
      </div>
    
  </div>
  <div class="rest-of-posts">
    {% for post in site.posts offset:6 %}
      <!-- {% assign post = site.posts[i] %} -->
      <a href="{{ post.url }}" class="article-link medium-article-size" style="grid-area: {{ i }} / 1 / {{ i | plus: 1 }} / 2;">
      <article class="article-card">
        <h2><img src="/assets/images/{{ post.category }}.jpg" width="16px" height="auto"/>{{ post.title }}</h2>
        {{ post.excerpt }}
      </article>
      </a>
      {% endfor %}
  </div>
</main>
