/* copied from the footer exercise */

@layer base {
  :root {
    --base-size: 1rem;
    --scale: 1.25;
    --h1: calc(var(--h2) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h5: calc(var(--h6) * var(--scale));
    --h6: var(--base-size);

    /* colors */
    --lime: #a4ffa2;
    --magenta: #f47dda;
    --magenta50: #f47dda80;
    --white: #ffffff;
    --tan: #cec5b4;
    --teal: #2e6d81;
    --cyan: #7de6f4;
    --black: #050d14;
    --shadow: #050d1480;
    --gradient: linear-gradient(180deg, var(--black) 0%, var(--teal) 100%);
    --grey: #adb0c0;

    /* fonts */
    --sans-serif: "Poppins", sans-serif;
    --serif: "Cormorant Garamond", serif;
    --cursive: "Pacifico", cursive;
  }
  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    font-family: var(--sans-serif);
    font-weight: 300;
    line-height: 1.75;
    background: var(--white);
    color: var(--black);
    font-size: var(--base-size);
    margin: 0 auto;
    padding: 0;
  }

  p {
    margin-bottom: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* margin: 3rem 0 1.38rem; */
    font-weight: 300;
    line-height: 1.3;
  }

  h1,
  .h1 {
    font-size: var(--h1);
  }

  h2,
  .h2 {
    font-size: var(--h2);
  }

  h3,
  .h3 {
    font-size: var(--h3);
  }

  h4,
  .h4 {
    font-size: var(--h4);
  }

  h5,
  .h5 {
    font-size: var(--h5);
  }

  h6,
  .h6 {
    font-size: var(--h6);
  }
  a {
    color: var(--lime);
  }
  a:hover {
    color: var(--cyan);
    text-decoration: none;
  }
  img {
    width: 100%;
    max-width: 100%;
    background: transparent;
  }
  main {
    max-width: 1280px;
    align-items: center;
    margin-bottom: 4rem;
    margin: 25px auto;
    padding: 0 10px;
  }
  .post {
    max-width: 820px;
    width: 100%;
    margin: 60px auto;
    font-size: var(--h5);
  }
  .post h2 {
    font-size: var(--h3);
    margin: 0;
  }
  .post .date {
    margin-top: 10px;
    font-size: var(--h6);
  }
  figure {
    margin: 0;
    padding: 0;
  }
  blockquote {
    margin: 0;
    padding: 0;
  }
  cite {
    font-style: normal;
    display: block;
    margin-top: -3px;
  }
  footer {
    margin-top: 5rem;
    text-transform: uppercase;
  }
}

@layer nav {
  #top {
    border-bottom: 1px solid var(--grey);
    border-top: 3px solid black;
  }

  #top nav {
    display: flex;
    max-width: 1280px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
    height: 62px;
    padding: 0 10px;
    margin: 0 auto;
  }

  #top .logo {
    display: flex;
    align-items: center;
    width: auto;
    font-family: "Amatic SC", sans-serif;
    font-weight: 500;
    font-style: normal;
    /* font-family: var(--cursive); */
    font-size: var(--h2);
    margin: 0;
    padding: 0;
    flex-direction: column;
    z-index: 0;
  }
  #top .logo svg {
    height: 34px;
    opacity: 90%;
  }

  #top ul {
    list-style: none;
  }

  .right-nav {
    margin: 0;
    padding-left: 200px;
    align-items: center;
  }
  .left-nav {
    margin: 0;
  }
  .left-nav .sign {
    width: 26px;
    height: 40px;
    fill: #e7131a;
  }

  .categories {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    padding: 0;
    margin: 0;
  }

  #top .social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
  }
  #top .social img {
    width: 25px;
    opacity: 75%;
  }

  #top .title {
    justify-content: center;
    font-size: var(--h5);
    margin: 0;
  }

  #top a {
    display: flex;
    text-decoration: none;
    color: var(--black);
    transition:transform 0.3s, color 0.3s, box-shadow 0.3s;
    align-items: center;
    justify-items: center;
  }

  #top .left-nav a:hover {
    font-weight: 400;
  }

}

@layer homepage-posts {
  .pinned-and-latest-posts {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      gap: 20px;
      border-: 10px;
      // grid-template-rows: 1fr 1fr;
  }
  .pinned-and-latest-posts article h2 {
      font-size: var(--h3);
  }
  .pinned-and-latest-posts article a {
      text-decoration: none;
      color: var(--black);
  }

  .rest-of-posts {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
      // grid-template-rows: 1fr 1fr;
  }
  .rest-of-posts article h2 {
      font-size: var(--h3);
  }
  .rest-of-posts article a {
      text-decoration: none;
      color: var(--black);
  }

// main article {
//     grid-area: 1/1/3/2;
// }

// main figure {
//     grid-area: 1/2/2/3;
// }

// main p {
//     grid-area: 2/2/3/3;
// }
}

// article {
//   border-bottom: 1px solid var(--grey);
// }

@media (max-width: 900) {

}

@media (max-width: 450) {
  
}



.article-link {
  text-decoration: none; /* Removes underline */
  color: inherit;         /* Keeps text color consistent */
  display: block;         /* Ensures full area is clickable */
  border-bottom: 1px solid var(--grey);
}

article h2 {
  margin-top: 0;
  margin-bottom: 1px;
}

.smaller-posts {
  border-bottom: 1px solid var(--grey);
}

.smaller-posts a:last-child {
  border-bottom: none;
}

// .article-card {
//   border: 1px solid #ccc;
//   padding: 1rem;
//   transition: background 0.3s ease;
// }

// .article-link:hover .article-card {
//   background-color: #f9f9f9;
// }

img {
  border-radius: 8px;
}

.smaller-posts {
  // border-left: 1px solid var(--grey);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.smaller-posts a {
  padding-bottom: 15px;
}
// .smaller-posts a:not(:first-child) {
//   margin-top: 10px;
// }

.rest-of-posts a {
  margin-top: 13px;
}

a p {
  margin-top: 5px;
}

.large-article-size h2 {
  font-size: var(--h2);
}

.medium-article-size h2 {
  font-size: var(--h4);
}

.small-article-size {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px;

}
.small-article-size h2 {
  font-size: var(--h6);
  grid-area: 1 / 1 / 2 / 2;
  margin-bottom: 5px;
}
.small-article-size img {
  grid-area: 1 / 2 / 2 / 3;
  margin-bottom: 5px;
}
